:root {
    --dark-green: #123524;
    /* Dark, deep green */
    --forest-green: #3E7B27;
    /* Forest-like green */
    --light-green: #85A947;
    /* Light, fresh green */
    --cream: #EFE3C2;
    /* Soft, light beige */
}

.App {
    background-color: var(--cream);
    color: var(--dark-green);
    margin: 20px;
    padding: 1rem;
    border-radius: 1rem;
}

header {
    color: var(--forest-green);
    display: flex;
    justify-content: center;
    padding: 20px;
}

main {
    padding: 20px;
}

form {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 10px;
}

form input {
    font-size: medium;
    margin: 0 10px;
    padding: 20px;
}

form button {
    background-color: var(--light-green);
    font-size: medium;
    padding: 10px;
    padding: 0 1.5rem;
    border-radius: 15%;
}

button:hover {
    transition: 0.3ms;
    color: var(--cream);
    background-color: var(--dark-green);
}

#task-list {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#task-list table {
    margin: 20px;
    padding: 20px;
    border: 2px solid var(--dark-green);
}

tbody {
    color: var(--dark-green);
}

tr td button {
    padding: 5px;
    color: var(--dark-green);
    background-color: var(--light-green);
}